.about {
  width: 100%;
  background-color: $bg-secondary;

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2rem;

    @include breakpoint-down(large) {
      flex-direction: column-reverse;
      padding: 4.375rem 2rem 0 2rem;
    }

    @include breakpoint-down(small) {
      flex-direction: column-reverse;
      padding: 2rem 2rem 0 2rem;
    }
  }

  &__image {
    background-image: url('/images/img7.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 706px;
    height: 620px;

    @include breakpoint-down(large) {
      width: 400px;
      height: 350px;
    }


    @include breakpoint-down(small) {
      width: 200px;
      height: 190px;
    }
  }

  &__text {
    flex: 1;
    margin-left: 1.375rem;

    @include breakpoint-down(small) {
      margin-left: 0;
    }

    h4 {
      color: $text-white;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    margin-top: 3.625rem;

    &--stat {
      text-align: left;
      margin-right: 2rem;

      h2 {
        color: $text-white;
        font-weight: bold;
        margin: 0;

        @include breakpoint-down(small) {
          font-size: 2.375rem;
        }
      }

      p {
        color: $text-white;
        font-size: $font-xs;
        font-weight: 100;
        margin: 0;

        @include breakpoint-down(small) {
          font-size: 0.875rem;
        }
      }
    }
  }
}