.articles {
	width: 100%;
	@include double-bottom-border();
}

.article {
	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;

		@include breakpoint-up(medium) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include breakpoint-up(large) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__item {
		padding: 1.5rem 1rem;
		overflow: hidden;
		background-color: $bg-body;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		transition: all 150ms ease-in-out;

		&.active {
			background-color: $bg-card_active;
		}

		&:hover {
			transform: scale(1.05);
		}
	}

	&__image {
		height: 12.5rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__text {
		padding-top: 0.625rem;
		color: $text-body;
	}

	&__author {
		margin-bottom: 1.5rem;
		display: flex;
		align-items: center;

		span {
			&:first-child {
				font-size: $font-sm;
				color: $accent-purple;
				font-weight: bold;

				@include breakpoint-down(large) {
					font-size: $font-xs;
				}

				@include breakpoint-down(small) {
					font-size: 1rem;
				}
			}

			&:last-child {
				color: $accent-purple;
				padding-left: 1.125rem;
				font-size: $font-xs;
				font-weight: 500;

				@include breakpoint-down(large) {
					font-size: 1rem;
				}

				@include breakpoint-down(small) {
					font-size: 0.875rem;
				}
			}
		}
	}

	&__title {
		font-size: 1.0625rem;
		line-height: 1.2;
		color: $text-body;
		margin-bottom: 1rem;

		h6 {
			@include breakpoint-down(large) {
				font-size: 1.75rem;
			}

			@include breakpoint-down(small) {
				font-size: 1.5rem;
			}
		}
	}

	&__description {
		font-size: $font-lg;
		font-weight: 500;

		@include breakpoint-down(large) {
			font-size: $font-xs;
		}

		@include breakpoint-down(small) {
			font-size: 0.875rem;
		}
	}
}