// Primary Colors
$primary-color: #000000; 

// Secondary Colors
$secondary-color: #40EFB6;

// Background Colors
$bg-body: #FFFFFF;
$bg-header: #FFFFFF;
$bg-secondary: #000000;
$bg-card_active: rgba(0, 233, 195, 0.1);

// Text Colors
$text-body: #000000;
$text-white: #FFFFFF;
$text-alt: #40EFB6;

// Accent Colors
$accent-purple: #8336FF;
$accent-chocolate: #A5601C;
$accent-blue: #0165FF;
$accent-dark-blue: #2A3A59;

// Other Colors
$border-color: #000000;
$border-color-secondary: #FFFFFF;